
/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
  text-align:center;
}

section {
  border: 1px solid black;
  background-color: gray;
  height: 150px;
  margin: 1%;
  font-family: Helvetica;
  border: 1px solid black;
  float: left;
  position: relative;
}

div {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  float: right;
  padding: 3px;
  width: 100px;
  text-align: center;
}

#chicken {
  background-color: pink;
}

#beef {
  background-color: red;
}

#sushi {
  background-color: yellow;
}

/********** Desktop View **********/
@media (min-width: 992px) {
  .col-desktop-1, .col-desktop-2, .col-desktop-3, .col-desktop-4, .col-desktop-5, .col-desktop-6, .col-desktop-7, .col-desktop-8, .col-desktop-9, .col-desktop-10, .col-desktop-11, .col-desktop-12 {
  }
  .col-desktop-1 {
    width: 6.33%;
  }
  .col-desktop-2 {
    width: 14.66%;
  }
  .col-desktop-3 {
    width: 23%;
  }
  .col-desktop-4 {
    width: 31.33%;
  }
  .col-desktop-5 {
    width: 39.66%;
  }
  .col-desktop-6 {
    width: 48%;
  }
  .col-desktop-7 {
    width: 56.33%;
  }
  .col-desktop-8 {
    width: 64.66%;
  }
  .col-desktop-9 {
    width: 72.99%;
  }
  .col-desktop-10 {
    width: 81.33%;
  }
  .col-desktop-11 {
    width: 89.66%;
  }
  .col-desktop-12 {
    width: 98%;
  }
}

/********** Tablet View **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-tablet-1, .col-tablet-2, .col-tablet-3, .col-tablet-4, .col-tablet-5, .col-tablet-6, .col-tablet-7, .col-tablet-8, .col-tablet-9, .col-tablet-10, .col-tablet-11, .col-tablet-12 {
  }
  .col-tablet-1 {
    width: 6.33%;
  }
  .col-tablet-2 {
    width: 14.66%;
  }
  .col-tablet-3 {
    width: 23%;
  }
  .col-tablet-4 {
    width: 31.33%;
  }
  .col-tablet-5 {
    width: 39.66%;
  }
  .col-tablet-6 {
    width: 48%;
  }
  .col-tablet-7 {
    width: 56.33%;
  }
  .col-tablet-8 {
    width: 64.66%;
  }
  .col-tablet-9 {
    width: 72.99%;
  }
  .col-tablet-10 {
    width: 81.33%;
  }
  .col-tablet-11 {
    width: 89.66%;
  }
  .col-tablet-12 {
    width: 98%;
  }
}


/********** Mobile View **********/
@media (max-width: 768px) {
  .col-mobile-1, .col-mobile-2, .col-mobile-3, .col-mobile-4, .col-mobile-5, .col-mobile-6, .col-mobile-7, .col-mobile-8, .col-mobile-9, .col-mobile-10, .col-mobile-11, .col-mobile-12 {
  }
  .col-mobile-1 {
    width: 6.33%;
  }
  .col-mobile-2 {
    width: 14.66%;
  }
  .col-mobile-3 {
    width: 23%;
  }
  .col-mobile-4 {
    width: 31.33%;
  }
  .col-mobile-5 {
    width: 39.66%;
  }
  .col-mobile-6 {
    width: 48%;
  }
  .col-mobile-7 {
    width: 56.33%;
  }
  .col-mobile-8 {
    width: 64.66%;
  }
  .col-mobile-9 {
    width: 72.99%;
  }
  .col-mobile-10 {
    width: 81.33%;
  }
  .col-mobile-11 {
    width: 89.66%;
  }
  .col-mobile-12 {
    width: 98%;
  }
}